bitstring>=3.1.5
h5py==3.10.0
# Lock scipy pandas etc around January 2023
matplotlib==3.7.4
scipy==1.11.4
numpy==1.26.4
# pandas>=0.24.2
pandas==2.1.4
pvl==1.3.2
spiceypy==6.0.0
geopandas==0.14.2
pytest==6.2.1
tables==3.9.2
# You may need to adjust the version to match the installed gdal version
# See https://github.com/nextgis/pygdal
# Can you do pygdal==3.2.1.* ?
# pygdal version must match version of osgeo on freeze.
# If this fails, make sure you have sourced env/cshrc
pygdal==3.2.1.10


rsr==1.0.7
#subradar>=1.1.0
#subradar==1.1.2
subradar==1.1.0
# subradar 1.1.2 has a bug where it doesn't call out this dependency
# https://github.com/cgrima/subradar/issues/9
hdf5storage==0.1.19

coverage
