bitstring>=3.1.5
h5py>=2.9.0
# Lock scipy pandas etc around January 2023
matplotlib==3.7.4
scipy==1.10.0
numpy==1.23.5
# pandas>=0.24.2
pandas==1.5.3
pvl>=0.3.0
spiceypy>=3.1.1
geopandas==0.13.2
pytest>=6.2.1

# pygdal version must match version of osgeo on freeze.
# If this fails, make sure you have sourced env/cshrc
pygdal==3.2.1.10


rsr>=1.0.5
#subradar>=1.1.0
subradar==1.1.1

coverage
